$default-fontColor: lighten(#ffff99, 10%);
$default-font-color: complement($default-fontColor);
$default-arial: Arial;

$default-background-color: complement(#1a8cff);
$default-navBarColor: #99bbff;
$default-submitColorOne: #77b55a;
$default-submitColorTwo: #72b352;

$default-pixelTwoHundred: 200px;
$default-pixelThirty: 30px;
$default-pixelTwenty: 20px;
$default-pixelEighteen: 18px;
$default-pixelFourteen: 14px;
$default-pixelTen: 10px;
$default-pixelFour: 4px;
$default-pixelZero: 0px;
$default-pixelNegativeSeven: -7px;

$default-center: center;
$default-solid: solid;
$default-oneHundredPercent: 100%;
$default-fivePercent: 5%;



@mixin contentMixin($display: null, $margin-top: null, $margin-right: null, $margin-bottom: null, $margin-left: null, $padding-bottom: null, $line-height: null, $text-align: null, $font-size: null, $color: null) {
    display: $display;
    margin-top: $margin-top;
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
    padding-bottom: $padding-bottom;
    line-height: $line-height;
    text-align: $text-align;
    font-size: $font-size;
    color: $color;

}


@mixin navBarMixin($display: null, $position: null, $padding: null, $padding-top: null, $padding-right: null, $padding-bottom: null, $padding-left: null, $height: null, $left: null, $background-color: null, $text-decoration: null, $font-family: null, $font-size: null, $color: null, $opacity: null) {
    display: $display;
    position: $position;
    padding: $padding;
    padding-top: $padding-top;
    padding-right: $padding-right;
    padding-bottom: $padding-bottom;
    padding-left: $padding-left;
    height: $height; 
    left: $left;
    background-color: $background-color;
    text-decoration: $text-decoration;
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    opacity: $opacity;

}


@mixin soicalMixin($border-radius: null, $top: null, $right: null, $width: null, $border: null, $position: null) {
    border-radius: $border-radius;
    top: $top;
    right: $right;
    width: $width;
    border: $border;
    position: $position;
 
}


@mixin formMixin($display: null, $margin-top: null, $margin-bottom: null, $margin-left: null, $padding-bottom: null, $top: null, $width: null, $border: null, $background-color: null, $font-family: null, $font-size: null, $color: null, $position: null) {
    display: $display;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
    margin-left: $margin-left;
    padding-bottom: $padding-bottom;
    top: $top;
    width: $width;
    border: $border;
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    position: $position;
    
}