::-webkit-input-placeholder { 
    color:    black;
}
:-moz-placeholder { 
   color:    black;
   opacity:  1;
}
::-moz-placeholder { 
   color:    black;
   opacity:  1;
}
:-ms-input-placeholder { 
   color:    black;
}